<!DOCTYPE html>

<html>
    <head>
        <title>Local Document Analyzer</title>
    </head>

    <body>
        <form action="/inputs" method="POST" enctype="multipart/form-data" id="analysisForm">
        <label for="fname">File name:</label>
        <input type="file" id="fname" name="fname"><br><br>
        <label for="uprompt">User Prompt:</label>
        <input type="text" id="uprompt" name="uprompt"><br><br>
        <input type="submit" id="submitButton" value="Submit">
        </form>
        
        <form action="/chat" method="POST">
        <input type="text" name="chat_prompt">
        <input type="submit" value="Send">
        </form>

        <h2>Analysis</h2>
        
       <div class="results-container">
         <!-- The | safe filter forces the browser to render the actual HTML elements -->
            {{ result | safe }}

            {% if our_chat %}
                {% for message in our_chat %}
                    <p>{{ message.role }}</p>
                    <p>{{ message.content }}</p>

                {% endfor %}
            {% endif %}
        </div>



        <script src="{{ url_for('static', filename='script.js') }}"></script>
    </body>
</html>